<div *ngIf="artwork.title && serviceCalled">
  <img *ngIf="artwork.hasImage" [src]="artwork.webImage.url" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ artwork.title }}</h1>
        <p class="makers">
          Principal makers of the artwork:
          <small class="maker" *ngFor="let maker of artwork.principalMakers"><br>- {{ maker.name }}</small>
        </p>
        <p class="description">
          {{ artwork.description }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!artwork.title && serviceCalled">
  <h1>Artwork not found :(</h1>
</div>
