<a [routerLink]="['/artwork', artwork.objectNumber]">
  <div class="card bg-dark text-white">
    <img *ngIf="artwork.hasImage" class="card-img" [src]="artwork.webImage.url" onError="src='./assets/placeholder.jpg';" alt="{{ artwork.longTitle }} image">
    <img *ngIf="!artwork.hasImage" class="card-img" src="./assets/placeholder.jpg" alt="{{ artwork.longTitle }} image">
    <div class="card-img-overlay">
      <h4 class="card-title">{{ artwork.title }}</h4>
    </div>
  </div>
</a>
