<div class="row">
  <div class="col-12">
    <div class="input-group">
      <input [formControl]="searchInput" type="text" class="form-control" placeholder="Mondrian..." aria-label="Mondrian ...">
    </div>
  </div>
</div>
