/* You can add global styles to this file, and also import other style files */
app-homepage {
  & > .container {
    margin: 20px auto;
  }
}

app-search {
  & > .row {
    padding: 20px 0;
  }
}

app-item {
  .card {
    cursor: pointer;
  }
  .card-title {
    text-shadow: 2px 2px #000000;
  }
}
